meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="description" content="Продажа квартир")
meta(name="keywords" content="Продажа квартир")
meta(property='og:title', content='Продажа квартир')
meta(property='og:description', content='Продажа квартир')
meta(property='og:image', content=' ')
meta(property='og:type', content='article')
meta(property='og:url', content='')
link(rel="shortcut icon", href="../../../favicon.ico", type="image/x-icon")
