header.header
    .container.container__big
        .header-flex
            .header-logo
                img.header-logo-img(src="/images/logo.png")
            nav.header-menu
                ul.header-menu-ul
                    li.header-menu-li 
                        a(href="#").header-menu-link Объекты
                    li.header-menu-li
                        a(href="#").header-menu-link Компания
                    li.header-menu-li
                        a(href="#").header-menu-link Как купить
                    li.header-menu-li
                        a(href="#").header-menu-link Агентам
                    li.header-menu-li
                        a(href="#").header-menu-link Регионам
                    li.header-menu-li
                        a(href="#").header-menu-link Акции
                    li.header-menu-li
                        a(href="#").header-menu-link Компании
            .header-phone
                a(href="tel:+7888888898").header-phone-link 8 888 88 88 98
                .header-phone-descript Звони скорее!
