extends _layouts/default
block title
  title Поиск квартир
block header
    include  components/header/header
block content
  main.content-main
    .container
      h1.h1 Найдено 666 квартир
      include  components/content/content
block footer